.app {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid {
	display: grid;
	width: 600px;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 200px);
	gap: 24px;
	margin: 0 auto;
}

.reset {
	width: 250px;
	height: 80px;
	font-size: 32px;
	cursor: pointer;
	margin-top: 60px;
	border-radius: 10px;
	border: none;
	background-color: rgb(111, 18, 197);
	color: #fff;
}
